---
page_title: "Provider: PGP"
description: |-
  The `pgp` provides a way to create a GPG key in Terraform.
---

# PGP Provider

The `pgp` provides a way to create a GPG key in Terraform.

{{ .SchemaMarkdown | trimspace }}